@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;600;700&display=swap');


:root {
    --apple: #D74452;
    --teal: #2D838D;
    --beige: #DAD3B7;
    --orange: #DB9F34;
    --darkorange: #DB8E36;
    --white: #ffffff;
    --black: #000000;
    --font:'Comfortaa', cursive;
}

.skip-link {
    visibility: hidden;
}

html {
    background-color: var(--beige);
}

body {
    background-color: var(--white);
    width: 500px;
    margin: 0 auto;
    font-family: var(--font);
  }

  /*Nav section*/
  nav {
    width: 500px;
    margin-top: -20px;
    background-color: var(--darkorange);
    position: absolute;
    top: 0;
    z-index: 3;
}

.hidden-text {
    visibility: hidden;
    height: 1px;
}

nav ul {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--teal);
    max-height: 0;
    transition: max-height .2s ease-out;
}

li a {
    display: block;
    padding: 20px 20px;
    margin-top: -20px;
    margin-bottom: 5px;
    text-decoration: none;
    color: var(--white);
}

[href="#home"] {
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    margin-left: 10px;
    top: 45px;
    left: 0px;
    padding: 40px 16px;
}

nav a:hover {
    background-color: var(--black);
}

#author {
    pointer-events: none;
}

nav label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    margin-left: 420px;
}

nav label span {
    background-color: var(--white);
    display: block;
    height: 1.5px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 35px;
}

nav label span:before, label span:after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

nav label span:before {
    top: 5px;
}

nav label span:after {
    top: -5px;
}

nav input {
    display: none;
}

nav input:checked ~ ul {
    max-height: 500px;
}

nav input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}

input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;}


/*Hero section*/
#hero {
    width: 100%;
    filter: blur(1px) brightness(0.5);
    margin-top: -10px;
}

#claire {
    width: 120px;
    position: relative;
    bottom: 200px;
    left: 25px;
    border: 5px solid var(--orange);
}

h1 {
    position: absolute;
    top: 130px;
    left: 310px;
    z-index: 2;
    font-family: var(--font);
    font-weight: 700;
    color: var(--white)
}

header p {
    position: absolute;
    top: 190px;
    left: 310px;
    z-index: 2;
    font-family: var(--font);
    color: var(--white);
    width: 35%;
}

/*Books section*/
#books {
    background-color: var(--teal);
    margin-top: -220px;
    padding-top: 40px;
    padding-bottom: 20px;
}

#books h2 {
    text-align: center;
    font-family: var(--font);
    font-weight: 700;
    color: var(--white)
}

#books p {
    text-align: center;
    font-family: var(--font);
    font-weight: 300;
    color: var(--white);
    margin-left: 50px;
    margin-right: 50px;
}

figure {
    padding-bottom: 30px;
}
figure img {
    width: 100%;
    border: 5px solid var(--apple);
}

figure h3 {
    text-align: center;
    padding-top: 0px;
    font-family: var(--font);
    font-weight: 700;
    color: var(--white);
}

figcaption {
    text-align: center;
    font-family: var(--font);
    font-weight: 300;
    color: var(--white);
    line-height: 1.5;
}

figcaption span {
    display: block;
    padding-top: 15px;
}

/*Events section*/

#events h2 {
    font-family: var(--font);
    font-weight: 700;
    text-align: center;
}

#events p {
    text-align: center;
    font-family: var(--font);
    font-weight: 300;
    color: var(--black);
    margin-left: 50px;
    margin-right: 50px;
}

.city {
    margin-left: 50px;
    padding-bottom: 15px;
    width: 80%;
    border-bottom: 4px solid var(--apple);
} 


.city h3 {
    font-family: var(--font);
    font-weight: 700;
}

.city p {
    font-family: var(--font);
    font-weight: 300;
    margin-right: 70px;
}

button {
    background-color: var(--orange);
    border: 5px solid var(--darkorange);
    padding: 8px 25px;
    color: var(--white);
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

/*Newsletter section*/
#newsletter {
    background-color: var(--teal);   
}

#newsletter h2 {
    padding-top: 30px;
    font-family: var(--font);
    font-weight: 700;
    text-align: center;
    color:var(--white);
}

#newsletter {
color: var(--white);
}

form{
	display: block;
	width: 300px;
	padding: 16px;
	margin: 0 auto;
	color: var(--white);
	font-size: 17.6px;
}

input, label {
	display: block;
	width: 95%;
}

label{
	padding-left: 8px;
	margin: 12px 0 4px 0;
}

input{
	font-size: 16px;
	padding: 4px 8px;
	border: 1px solid var(--white);
	height: 1.5em;
}

  
  input[type=submit]{
	padding: 10px;
	width: 100%;
	height: auto;
	margin-top: 15px;
	color: #fff;
	background-color: var(--orange);
	border: 5px solid var(--darkorange);
    font-weight: bold;
}

/*Footer section*/
.socials {
    text-align: center;
    padding-top: 40px;
}


.book-events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.link, .footer-header {
    text-align: center;
    margin-bottom: 20px;
}


.row{
    margin-top: 50px;
   }

  h4 {
    width: 50%;
    border-bottom: 4px solid var(--apple);
    padding-bottom: 20px;
    margin-left: 55px;
   }

.link-words {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px; 
    font-weight: 300;
  }

  .link-words a {
    color: var(--black);
    text-decoration: none;
    font-size: 16px;
  }
  
  .link-words a:hover{
    color: var(--apple);
  }


#legalInfo {
    color: var(--white);
    margin-top: 20px;
    padding-top: 20px;
    background-color: var(--darkorange);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
}

small a {
    text-decoration: none;
    color: var(--white);
}

.copy {
  grid-column: span 2;
  padding-bottom: 20px;
  
}

  
  /*Medium Screen*/
@media screen and (min-width: 750px){
    body, nav {
        width: 750px;
    }

    /*Nav section*/
    ul {
        display: flex;
        list-style: none;
        overflow: visible;
    }

    nav a {
        position:relative;
        left: 430px;
        top: -45px;
    }

    nav label {
        visibility: hidden;
    }

    /*Hero section*/
    #claire {
        width: 170px;
        position: relative;
        bottom: 300px;
        left: 25px;
        border: 5px solid var(--orange); 
    }
    
    h1 {
        position: absolute;
        top: 170px;
        font-size: 50px;
        color: var(--white)
    }

    header p {
        position: absolute;
        top: 250px;
        left: 310px;
        width: 50%;
        font-size: 18px;
    }

    /*Books section*/
    
    #books {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: -274px;
    }
    
    #books h2, p  {
        grid-column: span 2;
    }

    #books p {
        text-align: center;
        font-family: var(--font);
        font-weight: 300;
        color: var(--white);
        margin-left: 50px;
        margin-right: 50px;
    }

/*Events section*/
    #events {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #events h2 {
        font-size: 40px;
    }
    
    #events h2, p {
        grid-column: span 2;
    }
    
    .city h3 {
        padding-bottom: 50px;
    }

    .city {
        width: 70%;
        padding-bottom: 0px;
        border-bottom: 4px solid var(--apple);
    }
    
    .top-left, .btm-left {
        position: relative;
        left: 180px;
        bottom: 200px;
    }

    .top-right, .btm-right {
        position: relative;
        bottom: 200px;
        right: -180px
    }

}

/*Large screen */
@media screen and (min-width: 1250px){
}